<template>
  <div class="adults box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification vertical-center">
              <p class="title">Dla dorosłych</p>
            </article>
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/dorosli.jpg"
                  src-placeholder="/img/dorosli_small.jpg"
                />
              </figure>
            </article>
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/dorosli3.jpg"
                  src-placeholder="/img/dorosli3_small.jpg"
                />
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <span class="icon is-medium">
                <i class="far fa-comment fa-2x"></i>
              </span>
              <div
                class="content"
                style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem"
              >
                <p>
                  <br />
                  Potrzebujesz angielskiego w&nbsp;pracy?
                  <br />
                  Chciałbyś swobodnie komunikować się podczas wakacyjnych
                  wyjazdów?
                  <br />
                  A&nbsp;może po prostu chcesz podszlifować swoje umiejętności
                  językowe?
                  <br /><br />
                  Jeśli cenisz swój czas oraz chcesz uczyć się
                  w&nbsp;najbardziej komfortowych dla&nbsp;siebie warunkach,
                  serdecznie zapraszamy na zajęcia indywidualne z&nbsp;dojazdem
                  do&nbsp;kursanta, oczywiście dostosowane do&nbsp;poziomu oraz
                  potrzeb klienta.
                  <br /><br />
                  Gwarantujemy indywidualne podejście.
                  <br /><br />
                  <b>Nigdy nie jest za późno na&nbsp;rozpoczęcie nauki! </b>
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image">
            <v-lazy-image
              src="/img/dorosli2.jpg"
              src-placeholder="/img/dorosli2_small.jpg"
            />
          </figure>
        </article>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Adults extends Vue {}
</script>
<style scoped>
.adults {
  margin-top: 4em;
  margin-bottom: 4em;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}
p,
h1,
h2,
h3 {
  word-break: keep-all;
}
.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
