<template>
  <div class="kids box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification vertical-center">
              <p class="title">Dla dzieci i młodzieży</p>
            </article>

            <article class="tile is-child notification">
              <figure class="image" style="padding-left: 0.5rem">
                <v-lazy-image
                  src="/img/mlodziez2.jpg"
                  src-placeholder="/img/mlodziez2_small.jpg"
                />
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/mlodziez.jpg"
                  src-placeholder="/img/mlodziez_small.jpg"
                />
              </figure>
            </article>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <div class="content">
                <h3>Przygotujemy Cię do: <br /><br /></h3>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >testu ósmoklasisty
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >egzaminu gimnazjalnego
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >matury podstawowej i rozszerzonej
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >konkursów językowych
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >certyfikatów
                  </li>
                </ul>
              </div>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/mlodziez3.jpg"
                  src-placeholder="/img/mlodziez3_small.jpg"
                />
              </figure>
            </article>
          </div>
        </div>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification">
          <span class="icon is-medium">
            <i class="far fa-comment fa-2x"></i>
          </span>
          <div
            class="content"
            style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem"
          >
            <p>
              <br />
              Prowadzimy zajęcia z&nbsp;dojazdem dla&nbsp;uczniów
              <b>na&nbsp;wszystkich poziomach zaawansowania</b>. <br /><br />
              Oferujemy nie tylko regularne kursy, ale&nbsp;również pomoc
              w&nbsp;przygotowaniu do&nbsp;bieżących zajęć szkolnych. Kładziemy
              duży nacisk na&nbsp;<b>konwersacje</b>, których często brakuje
              w&nbsp;szkole. Ważne jest dla nas to, aby&nbsp;uczeń potrafił
              zastosować wiedzę w&nbsp;praktyce, by mógł swobodniej wypowiadać
              się na&nbsp;każdy temat.
              <br /><br />
              Mamy <b>doświadczenie i&nbsp;sukcesy</b> w&nbsp;przygotowywaniu
              do&nbsp;testów gimnazjalnych, matury podstawowej, rozszerzonej
              oraz&nbsp;konkursów językowych (Lingua-Plus, Fox, Olimpus).
              <br /><br />
              Do skorzystania z&nbsp;naszej oferty zapraszamy również przyszłych
              ósmoklasistów. Z&nbsp;nami nowy egzamin na&nbsp;pewno okaże się
              łatwy!
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Kids extends Vue {}
</script>
<style scoped>
.kids {
  margin-top: 4em;
  margin-bottom: 4em;
}

li {
  list-style: none;
}

.vertical-center {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}

.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
