<template>
  <div class="youngest box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification vertical-center">
              <p class="title">Dla najmłodszych</p>
            </article>
            <article class="tile is-child notification vertical-center">
              <p class="subtitle" style="font-size: 1.5rem">
                Już od 4 roku życia!
              </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/najmlodsi2.jpg"
                  src-placeholder="/img/najmlodsi2_small.jpg"
                />
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <span class="icon is-medium">
              <i class="far fa-comment fa-2x"></i>
            </span>
            <div
              class="content"
              style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem"
            >
              <p>
                Dobrze wiemy, że&nbsp;dzieci najlepiej czują się w&nbsp;swoim
                własnym pokoju. Jeśli chcesz, by&nbsp;Twoja pociecha uczyła się
                w&nbsp;najbardziej komfortowych dla&nbsp;siebie warunkach,
                to&nbsp;proponujemy zajęcia indywidualne z&nbsp;dojazdem
                do&nbsp;ucznia.
                <br />
                Oferujemy nauczanie języka poprzez gry, zabawy oraz&nbsp;muzykę,
                co gwarantuje ciekawe i&nbsp;urozmaicone lekcje. Uczymy dzieci
                od&nbsp;4 roku życia.
                <br />
                <b
                  >Im&nbsp;wcześniej zaczniemy, tym&nbsp;lepsze efekty możemy
                  osiągnąć!</b
                >
                <br /><br />
                Zajęcia z dojazdem do ucznia to&nbsp;naprawdę
                <b>bardzo wygodne rozwiązanie dla&nbsp;rodziców</b>
                ceniących swój czas. Przekonało się już o&nbsp;tym wielu
                klientów!
              </p>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image">
            <v-lazy-image
              src="/img/najmlodsi.jpg"
              src-placeholder="/img/najmlodsi_small.jpg"
            />
          </figure>
        </article>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Youngest extends Vue {}
</script>
<style scoped>
.youngest {
  margin-top: 4em;
  margin-bottom: 4em;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}
.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
