<template>
  <div class="skype box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification vertical-center">
              <p class="title">Przez internet</p>
            </article>
            <article class="tile is-child notification vertical-center">
              <p class="subtitle" style="font-size: 1.5rem">
                Odległość nie ma znaczenia!
              </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <span class="icon is-medium">
                <i class="far fa-comment fa-2x"></i>
              </span>
              <div
                class="content"
                style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem"
              >
                <p>
                  Idąc z&nbsp;duchem czasu oraz wychodząc naprzeciw oczekiwaniom
                  klientów, oferujemy również zajęcia przez internet. Jest to
                  idealne rozwiązanie dla ludzi, którzy nie&nbsp;tylko cenią
                  swój czas, ale&nbsp;również chcą czuć się swobodnie
                  w&nbsp;trakcie lekcji.
                  <br /><br />
                  Do&nbsp;zajęć
                  <b>wystarczy tylko własny komputer</b> z&nbsp;zainstalowanym
                  programem Skype lub Discord oraz połączenie z&nbsp;Internetem.
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification vertical-center">
              <figure class="image">
                <a href="https://discordapp.com/download">
                  <img src="/img/discord.png" />
                </a>
              </figure>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification vertical-center">
              <figure class="image is-96x96">
                <a href="https://www.skype.com/pl/get-skype/">
                  <img src="/img/skype.svg" />
                </a>
              </figure>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image">
            <v-lazy-image
              src="/img/internet.jpg"
              src-placeholder="/img/internet_small.jpg"
            />
          </figure>
        </article>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Internet extends Vue {}
</script>
<style scoped>
.skype {
  margin-top: 4em;
  margin-bottom: 4em;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}
.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
