<template>
  <div class="contact box columns">
    <div class="section column is-one-third">
      <h1 class="title">
        Kontakt
      </h1>

      <p>
        Chcesz uzyskać więcej informacji o zajęciach? Skontaktuj się z nami
        telefonicznie lub za pomocą formularza.
      </p>
      <figure class="image is-16by9" style="-webkit-margin-before: 4rem">
        <img src="img/wizytowka.png" />
      </figure>

      <div class="level" style="-webkit-margin-before: 4rem">
        <div class="level-left">
          <div class="level-item">
            <a target="_blank" href="fb">
              <figure class="image">
                <img src="img/facebook.png" style="width: 12rem" />
              </figure>
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a
              target="_blank"
              href="https://www.e-korepetycje.net/mobi/jezyk-angielski"
            >
              <figure class="image" style="background-color: #4BC599">
                <img src="img/ekorepetycje.svg" style="width: 12rem" />
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section column is-two-thirds">
      <div class="box contact-form">
        <form
          autocomplete="off"
          method="post"
          class="columns"
          @submit.prevent="sendMail"
        >
          >
          <div class="column is-half">
            <div class="field">
              <label class="label">Imię i nazwisko*</label>
              <div class="control">
                <input
                  v-model="nameInput"
                  class="input"
                  type="text"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Adres e-mail*</label>
              <div class="control">
                <input
                  v-model="emailInput"
                  class="input"
                  type="email"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Numer telefonu*</label>
              <div class="control">
                <input
                  v-model="numberInput"
                  class="input"
                  type="tel"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Treść wiadomości*</label>
              <div class="control">
                <textarea
                  v-model.trim="bodyInput"
                  class="textarea"
                  placeholder="Treść wiadomości..."
                  style="height: 18rem; resize: none;"
                  maxlength="4000"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label">Poziom zaawansowania</label>
              <div class="control">
                <div class="select">
                  <select v-model="levelInput">
                    <option disabled selected hidden value="Wybierz poziom"
                      >Wybierz poziom
                    </option>
                    <option value="Podstawowy">Podstawowy </option>
                    <option value="Średniozaawansowany">
                      Średniozaawansowany
                    </option>
                    <option value="Zaawansowany">
                      Zaawansowany
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Cel</label>
              <div class="control">
                <input
                  v-model="aimInput"
                  class="input"
                  type="text"
                  placeholder="Czego oczekujesz od zajęć?"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Wiek</label>
              <div class="control">
                <input
                  v-model="ageInput"
                  class="input"
                  type="number"
                  min="0"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Miasto</label>
              <div class="control">
                <input
                  v-model="cityInput"
                  class="input"
                  type="text"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Ulica</label>
              <div class="control">
                <input
                  v-model="streetInput"
                  class="input"
                  type="text"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Numer domu/mieszkania</label>
              <div class="control">
                <input
                  v-model="homeInput"
                  class="input"
                  type="number"
                  placeholder=""
                />
              </div>
            </div>

            <vue-recaptcha
              ref="recaptcha"
              size="invisible"
              sitekey="6Lcpsk8UAAAAAKioHqtOqm4aS5wFv5RAw7pcnICf"
              @verify="onCaptchaVerified"
              @expired="onCaptchaExpired"
            ></vue-recaptcha>

            <button
              :disabled="status === 'submitting' || !privacyPolicyAccepted"
              class="button is-primary is-large"
            >
              Wyślij
            </button>

            <div class="control">
              <input
                id="checkbox"
                v-model="privacyPolicyAccepted"
                type="checkbox"
              />
              <label for="checkbox" style="font-size: 0.7rem"
                >Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z
                <router-link :to="{ name: 'privacy' }"
                  >polityką prywatności
                </router-link>
              </label>
            </div>

            <div v-if="errors.length">
              <ul>
                <span
                  v-for="error in errors"
                  :key="error"
                  style="color: red;"
                  >{{ error }}</span
                >
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import VueRecaptcha from 'vue-recaptcha'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VueRecaptcha } })
export default class Kontakt extends Vue {
  privacyPolicyAccepted = false
  status = ''
  nameInput = null
  emailInput = null
  numberInput = null
  bodyInput = null
  levelInput = 'Wybierz poziom'
  aimInput = null
  ageInput = null
  cityInput = null
  streetInput = null
  homeInput = null
  errors: string[] = []

  checkForm(e) {
    if (this.nameInput && this.emailInput && this.numberInput && this.bodyInput)
      return true
    this.errors = []
    this.errors.push('Proszę wypełnić wszystkie pola oznaczone gwiazdką.')
    e.preventDefault()
  }

  sendMail(e) {
    this.errors = []
    if (this.checkForm(e)) {
      ;(this.$refs.recaptcha as any).execute()
    }
  }

  onCaptchaVerified(recaptchaToken) {
    this.status = 'submitting'
    ;(this.$refs.recaptcha as any).reset()

    axios
      .post('/contact', {
        nameInput: this.nameInput,
        emailInput: this.emailInput,
        numberInput: this.numberInput,
        bodyInput: this.bodyInput,
        levelInput: this.levelInput,
        aimInput: this.aimInput,
        ageInput: this.ageInput,
        cityInput: this.cityInput,
        streetInput: this.streetInput,
        homeInput: this.homeInput,
        token: recaptchaToken
      })
      .then(response => {
        if (response.data.success === true) {
          this.errors = []
          this.nameInput = null
          this.emailInput = null
          this.numberInput = null
          this.bodyInput = null
          this.levelInput = 'Wybierz poziom'
          this.aimInput = null
          this.ageInput = null
          this.cityInput = null
          this.streetInput = null
          this.homeInput = null
          alert('Wiadomość została wysłana!')
        }
        this.status = ''
      })
      .catch(() => {
        this.errors.push(
          'Wystąpił błąd przy wysyłaniu wiadomości. Spróbuj ponownie za chwilę. Jeśli problem nie ustąpi, skontaktuj się z właścicielem strony.'
        )
      })
  }
  onCaptchaExpired() {
    ;(this.$refs.recaptcha as any).reset()
  }
}
</script>
<style scoped>
.contact {
  margin-top: 4em;
  margin-bottom: 4em;
}

.contact-form {
  background-color: #f5f5f5;
}

.button.is-primary {
  background-color: #008f97;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}
</style>
