<template>
  <div class="privacy box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child notification">
            <div class="content">
              <p class="subtitle">
                <b>Obowiązek informacyjny (na podstawie art. 13 RODO)</b>
              </p>
              <br />
              <p>
                Zgodnie z art. 13 ust. 1 i ust. 2 rozporządzenia Parlamentu
                Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w
                sprawie ochrony osób fizycznych w związku z przetwarzaniem
                danych osobowych i w sprawie swobodnego przepływu takich danych
                oraz uchylenia dyrektywy 95/46/WE (RODO), informujemy, że:
              </p>
            </div>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child notification">
            <div class="content">
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >Administratorem Państwa danych osobowych jest firma „MOBI
                  Katarzyna Harat”, właściciel strony www.mobi.edu.pl, ul.
                  Wodociągowa 2/2, 43-356 Kobiernice, NIP: 5110282930, REGON:
                  369009914. Administrator przetwarza również za zgodą rodziców
                  dane osobowe dzieci poniżej 16 roku życia.
                </li>
                <br />
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >Administrator będzie przetwarzał dane osobowe w następujących
                  celach: przedstawienia naszej oferty na podstawie Państwa
                  zgody lub Państwa zapytania ofertowego (podstawa z art.6 ust.1
                  lit. a RODO), w celach analitycznych, tj. doboru odpowiedniego
                  kursu językowego do Państwa potrzeb i poziomu, w celu
                  optymalizacji naszych usług na podstawie Państwa uwag na ich
                  temat, (podstawa z art.6 ust. 1 lit. f RODO), w celu
                  marketingu bezpośredniego, w tym analizy archiwalnych kampanii
                  reklamowych, w celu ewentualnego ustalenia, dochodzenia lub
                  obrony przed roszczeniami, co jest naszym prawnie uzasadnionym
                  interesem (podstawa z art. 6 ust. 1 lit. f RODO).
                </li>
                <br />
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >Będziemy przetwarzać następujące kategorie Państwa danych:
                  dane identyfikacyjne - imię, nazwisko, wiek, adres, numer
                  telefonu kontaktowego - oraz poziom zaawansowania znajomości
                  języka angielskiego. Podanie tych danych jest konieczne w celu
                  przedstawienia oferty.
                </li>
                <br />
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >Przekazujemy Państwa dane osobowe pracownikom firmy “MOBI
                  Katarzyna Harat”. Udostępniamy Państwa dane naszym pracownikom
                  i współpracownikom, aby mogli się z Państwem skontaktować, w
                  celu na jaki wyrazili Państwo zgodę.
                </li>
                <br />
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >Dane będą przechowywane przez czas niezbędny do wykonania
                  umowy/przygotowania oferty, na czas przechowywania dokumentów
                  dla celów księgowo-podatkowych, do ustalenia, dochodzenia lub
                  obrony przed roszczeniami nie dłużej niż 10 lat, w wypadku
                  zgody na przetwarzanie danych do czasu wycofania zgody.
                </li>
                <br />
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >W związku z przetwarzaniem danych ma Pani/Pan prawo: do
                  żądania dostępu do przetwarzanych danych osobowych, do
                  sprostowania przetwarzanych danych osobowych, do usunięcia/
                  prawo do bycia zapomnianym/ lub ograniczenia przetwarzania
                  danych, wniesienia sprzeciwu wobec przetwarzania, przenoszenia
                  danych, wniesienia skargi do organu nadzoru – Prezesa Urzędu
                  Ochrony Danych Osobowych.
                </li>
              </ul>
              <p>
                W sprawie przetwarzania danych osobowych prosimy kontaktować się
                e-mailem na adres
                <router-link
                  :to="{ name: 'contact' }"
                  style="color: #3273dc; text-decoration: none; "
                >
                  biuro@mobi.edu.pl
                </router-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class Rodo extends Vue {}
</script>

<style scoped>
.privacy {
  margin-top: 4em;
  margin-bottom: 4em;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}

ul {
  list-style: none;
}
</style>
