<template>
  <div class="modal" :class="openmodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Dodaj nowego ucznia</p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>

      <section class="modal-card-body">
        <div class="field">
          <label class="label">Imię</label>
          <div class="control">
            <input
              v-model="list.name"
              class="input"
              type="text"
              placeholder="Imię"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Nazwisko</label>
          <div class="control">
            <input
              v-model="list.surname"
              class="input"
              type="text"
              placeholder="Nazwisko"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Wiek</label>
          <div class="control">
            <input
              v-model="list.age"
              class="input"
              type="number"
              min="0"
              placeholder="Wiek"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Miasto</label>
          <div class="control">
            <input
              v-model="list.city"
              class="input"
              type="text"
              placeholder="Miasto"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Ulica</label>
          <div class="control">
            <input
              v-model="list.street"
              class="input"
              type="text"
              placeholder="Ulica"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Numer domu/mieszkania</label>
          <div class="control">
            <input
              v-model="list.home_number"
              class="input"
              type="number"
              min="0"
              placeholder="Numer domu/mieszkania"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Dane kontaktowe</label>
          <div class="control">
            <input
              v-model="list.contact_details"
              class="input"
              type="text"
              placeholder="Dane kontaktowe"
            />
            />
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="save">Zapisz</button>
        <button class="button" @click="close">Anuluj</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-unused-vars */
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { getModule } from 'vuex-module-decorators'
import StudentsModule, { Student } from '../store/modules/students'

const studentsModule = getModule(StudentsModule)

@Component
export default class Add extends Vue {
  @Prop(Boolean) readonly openmodal!: boolean

  /**
   * Student object being created
   */
  list: Student = {
    _id: '', // not actually used
    name: '',
    surname: '',
    age: 0,
    city: '',
    street: '',
    home_number: 0,
    contact_details: '',
    tasks: [],
    created_at: new Date(), // not actually used
    updated_at: new Date() // not actually used
  }

  /**
   * Any errors that could occur during store action
   */
  errors: String[] = []

  /**
   * Closes the modal
   */
  @Emit('closeRequest')
  close() {}

  /**
   * Handle adding a new student
   */
  async save() {
    try {
      await studentsModule.store(this.list)
      this.close()
    } catch (err) {
      this.errors.push(err)
    }
  }
}
</script>
