<template>
  <div class="modal" :class="openmodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Dodaj nowe zajęcia</p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>

      <section class="modal-card-body">
        <div class="field">
          <label class="label">Data</label>
          <div class="control">
            <b-field>
              <b-datepicker
                v-model="list.date"
                placeholder="Kliknij, by wybrać..."
                icon="calendar-today"
              >
              </b-datepicker>
            </b-field>
          </div>
        </div>
        <div class="field">
          <label class="label">Rozpoczęcie</label>
          <div class="control">
            <b-field>
              <b-timepicker
                v-model="list.startTime"
                placeholder="Kliknij, by wybrać..."
                icon="clock"
              >
              </b-timepicker>
            </b-field>
          </div>
        </div>

        <div class="field">
          <label class="label">Zakończenie</label>
          <b-field>
            <b-timepicker
              v-model="list.endTime"
              placeholder="Type or select a date..."
              icon="clock"
            >
            </b-timepicker>
          </b-field>
        </div>

        <div class="field">
          <label class="label">Notatki</label>
          <div class="control">
            <textarea
              v-model="list.notes"
              class="input"
              rows="6"
              placeholder="Notatki"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Uczeń</label>
          <div class="control">
            <div class="select">
              <select v-model="list.student_id">
                <option v-for="student in students" :key="student._id"
                  >{{ student.name }}
                  {{ student.surname }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <input id="checkbox" v-model="multiplyTasks" type="checkbox" />
          <label for="checkbox">Powiel zajęcia</label>
        </div>

        <div class="field">
          <label class="label">Ile razy?</label>
          <input
            v-model="list.multiplier"
            :disabled="!multiplyTasks"
            type="number"
            min="2"
          />
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="save">Zapisz</button>
        <button class="button" @click="close">Anuluj</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-unused-vars */
import { Vue, Component, Prop, Emit } from 'nuxt-property-decorator'
import { addDays } from 'date-fns'
import { getModule } from 'vuex-module-decorators'
import StudentsModule, { NewTask } from '../store/modules/students'

const studentsModule = getModule(StudentsModule)

@Component
export default class AddTask extends Vue {
  @Prop(Boolean) readonly openmodal!: boolean

  list = {
    date: new Date(),
    startTime: new Date(),
    endTime: new Date(),
    notes: '',
    student_id: '',
    multiplier: 0 // number of tasks added
  }
  multiplyTasks: boolean = false
  errors: String[] = []

  @Emit('closeRequest')
  close() {}

  /**
   * Handle adding new task
   */
  async save() {
    // calculate start and end dates
    let start = this.list.date
    start.setTime(this.list.startTime.getTime())
    let end = this.list.date
    end.setTime(this.list.endTime.getTime())

    // compute the task title - dependant on the student
    const student = studentsModule.studentById(this.list.student_id)!
    const tit = `${student.surname} ${student.name}`

    if (this.multiplyTasks) {
      // make many axios calls
      for (let i = 0; i < this.list.multiplier; i++) {
        // make an axios call with the current task
        // and emit a taskAdded event
        const newTask: NewTask = {
          studentId: this.list.student_id,
          _id: '', // does not matter since it's a new one
          start: start,
          end: end,
          notes: this.list.notes,
          title: tit
        }
        try {
          await studentsModule.storeTask(newTask)
        } catch (err) {
          this.errors.push(err)
        } finally {
          // add a week to the task
          start = addDays(start, 7)
          end = addDays(end, 7)
        }
      }
    } else {
      const newTask: NewTask = {
        studentId: this.list.student_id,
        _id: '', // does not matter since it's a new one
        start: start,
        end: end,
        notes: this.list.notes,
        title: tit
      }
      // make one axios call
      try {
        await studentsModule.storeTask(newTask)
      } catch (err) {
        this.errors.push(err)
      }
    }

    this.close()
  }
}
</script>
