<template>
  <footer v-if="this.$route.name !== 'contact'" class="footer">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth" />

        <div class="column">
          <div class="content" style="float: left; left:50%">
            <h3>
              Kontakt
            </h3>
            <p>
              <b>
                <i class="fas fa-phone"></i> 502 206 741 <br />
                <i class="fas fa-envelope"></i>
                <router-link :to="{ name: 'contact' }"
                  >biuro@mobi.edu.pl</router-link
                >
              </b>
            </p>
          </div>
        </div>

        <div class="column">
          <div class="is-flex">
            <a
              target="_blank"
              href="https://www.e-korepetycje.net/mobi/jezyk-angielski"
              style="padding: 0.3125rem"
            >
              <figure
                class="image"
                style="background-color: #4BC599; width: 12rem"
              >
                <img src="/img/ekorepetycje.svg" style="width: 12rem" />
              </figure>
            </a>

            <a target="_blank" href="fb" style="padding: 0.3125rem">
              <figure class="image" style="width: 12rem;">
                <img src="/img/facebook.png" style="width: 12rem" />
              </figure>
            </a>
          </div>
        </div>

        <div class="column is-one-fifth" />
      </div>
    </div>
  </footer>
</template>

<script style="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class Foot extends Vue {}
</script>

<style scoped>
.container {
}
.footer {
  padding: 3rem 0 3rem 0;
}

.columns {
  margin-top: -4rem;
}

a {
  color: #3273dc;
}

.column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
