<template>
  <div class="wrapper">
    <nav
      class="navbar is-white is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a id="logo" class="navbar-item" href="http://mobi.edu.pl">
          <img src="/img/logo-nazwa.png" alt="Mobi: mobilna szkoła językowa" />
        </a>

        <div
          class="navbar-burger"
          :class="{ 'is-active': showNav }"
          @click="toggleNav"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-start">
          <nuxt-link
            to="/"
            class="navbar-item is-tab has-shadow"
            exact-active-class="is-active"
          >
            <span @click="toggleNav">Start</span>
          </nuxt-link>

          <nuxt-link
            to="/o-nas"
            class="navbar-item is-tab has-shadow"
            exact-active-class="is-active"
          >
            <span @click="toggleNav">O nas</span>
          </nuxt-link>

          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              <span @click="toggleNav">Kursy</span>
            </div>
            <div class="navbar-dropdown">
              <nuxt-link
                to="/kursy/dla-najmlodszych"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Dla najmłodszych</span>
              </nuxt-link>

              <nuxt-link
                to="/kursy/dla-dzieci-i-mlodziezy"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Dla dzieci i młodzieży</span>
              </nuxt-link>

              <nuxt-link
                to="/kursy/dla-doroslych"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Dla dorosłych</span>
              </nuxt-link>

              <nuxt-link
                to="/kursy/przez-internet"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Przez internet</span>
              </nuxt-link>
            </div>
          </div>

          <nuxt-link
            to="/dla-firm"
            class="navbar-item is-tab has-shadow"
            exact-active-class="is-active"
          >
            <span @click="toggleNav">Dla firm</span>
          </nuxt-link>

          <nuxt-link
            to="/wspolpraca"
            class="navbar-item is-tab has-shadow"
            exact-active-class="is-active"
          >
            <span @click="toggleNav">Współpraca</span>
          </nuxt-link>

          <nuxt-link
            to="/opinie"
            class="navbar-item is-tab has-shadow"
            exact-active-class="is-active"
          >
            <span @click="toggleNav">Opinie</span>
          </nuxt-link>

          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              <span @click="toggleNav">Informacje</span>
            </div>
            <div class="navbar-dropdown">
              <nuxt-link
                to="/informacje/kontakt"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Kontakt</span>
              </nuxt-link>

              <nuxt-link
                to="/informacje/rodo"
                class="navbar-item is-tab has-shadow"
                exact-active-class="is-active"
              >
                <span @click="toggleNav">Polityka prywatności</span>
              </nuxt-link>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div v-if="$auth.loggedIn" class="navbar-item">
            <span class="icon is-medium">
              <nuxt-link to="/admin">
                <i class="fas fa-user-circle fa-2x" style="color: black"></i>
              </nuxt-link>
            </span>
          </div>

          <div v-if="$auth.loggedIn" class="navbar-item">
            <span class="icon is-medium">
              <a href="#" @click.prevent="$auth.logout()">
                <i class="fas fa-sign-out-alt fa-2x" style="color: black"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Navigation extends Vue {
  showNav: boolean = false

  toggleNav(): void {
    this.showNav = !this.showNav
  }
}
</script>

<style>
.navbar-brand {
  margin-left: 4rem;
}

.navbar-start {
  padding-left: 8rem;
}

.navbar {
  font-size: 1.1rem;

  margin: 0 auto;
  min-height: 6rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1.25rem 0 #b5b5b5;
}

.navbar-item > img {
  min-height: 4rem;
}

#logo:hover {
  background: white;
  border-radius: 0.3125rem;
}

.navbar.is-white .navbar-start > .navbar-item {
  border-bottom: none;
}

.navbar.is-white .navbar-start > a.navbar-item.is-active,
.navbar.is-white .navbar-start > a.navbar-item:hover {
  border-bottom: none;
  color: #f48221;
}

.navbar.is-white .navbar-item.has-dropdown:hover .navbar-link:hover {
  border-bottom: none;
}

.navbar-dropdown a.navbar-item:hover,
.navbar-dropdown a.navbar-item.is-active {
  border-bottom: none;
  color: #f48221;
}

.navbar.is-white .navbar-dropdown a.navbar-item.is-active {
  border-bottom: none;
  color: #f48221;
  background-color: #f2f2f2;
}

.navbar-item.is-tab.is-active {
  border-bottom: none;
}
</style>
