<template>
  <div class="modal" :class="openmodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Zajęcia z uczniem: {{ studentsModule.currentStudent.name }}
          {{ studentsModule.currentStudent.surname }}
        </p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>
      <section class="modal-card-body">
        <div
          v-for="task in studentsModule.currentStudents.tasks"
          :key="task._id"
          class="card"
        >
          <v-collapse-wrapper v-if="typeof task !== 'undefined'">
            <div v-collapse-toggle class="card-header">
              <p class="card-header-title">
                <b
                  >{{ format(task.startDate, 'DD.MM.YYYY H:mm') }} -
                  {{ format(task.endDate, 'H:mm') }}</b
                >
              </p>
            </div>
            <div v-collapse-content>
              <div class="card-content">
                <div v-if="!editing" class="content">
                  {{ task.notes }}
                </div>
                <div v-else class="content">
                  <input
                    :value="task.notes"
                    @input="updateTaskInStore(task, $event)"
                  />
                </div>
              </div>
              <footer class="card-footer">
                <button
                  class="card-footer-item button is-success"
                  :disabled="!editing"
                  style="min-height: 3rem"
                  @click="save(task.id, task.notes)"
                >
                  > Zapisz
                </button>

                <button
                  class="card-footer-item button is-warning"
                  style="min-height: 3rem"
                  @click="editing = !editing"
                >
                  Edytuj
                </button>

                <button
                  class="card-footer-item button is-danger"
                  style="min-height: 3rem"
                  @click="del(task.id)"
                >
                  Usuń
                </button>
              </footer>
            </div>
          </v-collapse-wrapper>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" @click="close">Wyjdź</button>
      </footer>
    </div>
  </div>
</template>
<script lang="ts">
/* eslint-disable no-unused-vars */
import VueCollapse from 'vue2-collapse'
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { getModule } from 'vuex-module-decorators'
import { format } from 'date-fns'
import StudentsModule, { Task } from '../store/modules/students'

const studentsModule = getModule(StudentsModule)

@Component({ components: { VueCollapse } })
export default class Show extends Vue {
  @Prop(Boolean) readonly openmodal!: boolean
  format: Function = format

  errors: String[] = []
  editing: boolean = false

  /**
   * Close the modal.
   */
  @Emit('closeRequest')
  close() {}

  /**
   * Updates edited task notes on input/
   */
  updateTaskInStore(task: Task, event) {
    studentsModule.setCurrentStudentsTaskNotes(task._id, event.target.value)
  }

  /**
   * Handles deleting a task.
   */
  async del(id: string) {
    if (confirm('Czy na pewno chcesz usunąć te zajęcia?')) {
      try {
        await studentsModule.deleteTask(id, studentsModule.currentStudent._id)
      } catch (err) {
        this.errors.push(err)
      }
    }
  }

  /**
   * Save updates to the server.
   */
  async save(id, notes) {
    try {
      await studentsModule.updateTask(
        {
          studentId: studentsModule.currentStudent._id,
          notes: notes
        },
        id
      )
    } catch (err) {
      this.errors.push(err)
    }
  }
}
</script>
