<template>
  <div class="modal" :class="openmodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Dane ucznia: {{ studentsModule.currentStudent.name }}
          {{ studentsModule.currentStudent.surname }}
        </p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>
      <section class="modal-card-body">
        <li class="panel-block">
          <label class="column is-4"><b>Imię</b></label>
          <p class="column-8">{{ studentsModule.currentStudent.name }}</p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Nazwisko</b></label>
          <p class="column-8">{{ studentsModule.currentStudent.surname }}</p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Wiek</b></label>
          <p class="column-8">{{ studentsModule.currentStudent.age }}</p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Miasto</b></label>
          <p class="column-8">{{ studentsModule.currentStudent.city }}</p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Ulica</b></label>
          <p class="column-8">{{ studentsModule.currentStudent.street }}</p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Numer domu/mieszkania</b></label>
          <p class="column-8">
            {{ studentsModule.currentStudent.home_number }}
          </p>
        </li>

        <li class="panel-block">
          <label class="column is-4"><b>Dane kontaktowe</b></label>
          <p class="column-8">
            {{ studentsModule.currentStudent.contact_details }}
          </p>
        </li>
      </section>
      <footer class="modal-card-foot">
        <button class="button" @click="close">Wyjdź</button>
      </footer>
    </div>
  </div>
</template>
<script lang="ts">
/* eslint-disable no-unused-vars */
import { Component, Prop, Vue, Emit } from 'vue-property-decorator'
import { getModule } from 'vuex-module-decorators'
import StudentsModule from '../store/modules/students'

const studentsModule = getModule(StudentsModule)

@Component
export default class Show extends Vue {
  @Prop(Boolean) readonly openmodal!: boolean

  @Emit('closeRequest')
  close() {}
}
</script>
