<template>
  <div class="modal" :class="openmodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Edytuj dane ucznia: {{ name }} {{ surname }}
        </p>
        <button class="delete" aria-label="close" @click="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Imię</label>
          <div class="control">
            <input
              v-model="name"
              class="input"
              type="text"
              placeholder="Imię"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Nazwisko</label>
          <div class="control">
            <input
              v-model="surname"
              class="input"
              type="text"
              placeholder="Nazwisko"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Wiek</label>
          <div class="control">
            <input
              v-model="age"
              class="input"
              type="number"
              min="0"
              placeholder="Wiek"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Miasto</label>
          <div class="control">
            <input
              v-model="city"
              class="input"
              type="text"
              placeholder="Miasto"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Ulica</label>
          <div class="control">
            <input
              v-model="street"
              class="input"
              type="text"
              placeholder="Ulica"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Numer domu/mieszkania</label>
          <div class="control">
            <input
              v-model="home_number"
              class="input"
              type="number"
              min="0"
              placeholder="Numer domu/mieszkania"
            />
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Dane kontaktowe</label>
          <div class="control">
            <input
              v-model="contact_details"
              class="input"
              type="text"
              placeholder="Dane kontaktowe"
            />
            />
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="update">Zapisz</button>
        <button class="button" @click="close">Anuluj</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable camelcase */
/* eslint-disable no-unused-vars */
import { Component, Prop, Vue, Emit } from 'vue-property-decorator'
import { getModule } from 'vuex-module-decorators'
import StudentsModule, { Student } from '../store/modules/students'

const studentsModule = getModule(StudentsModule)

@Component
export default class Update extends Vue {
  @Prop(Boolean) readonly openmodal!: boolean

  /**
   * Computed properties for current student object
   */

  get name() {
    return studentsModule.currentStudent.name
  }

  set name(name: string) {
    studentsModule.setCurrentStudentName(name)
  }

  get surname() {
    return studentsModule.currentStudent.surname
  }

  set surname(surname: string) {
    studentsModule.setCurrentStudentSurname(surname)
  }

  get age() {
    return studentsModule.currentStudent.age
  }

  set age(age: Number) {
    studentsModule.setCurrentStudentAge(age)
  }

  get city() {
    return studentsModule.currentStudent.city || ''
  }

  set city(city: string) {
    studentsModule.setCurrentStudentCity(city)
  }

  get street() {
    return studentsModule.currentStudent.street || ''
  }

  set street(street: string) {
    studentsModule.setCurrentStudentStreet(street)
  }

  get home_number() {
    return studentsModule.currentStudent.home_number || 0
  }

  set home_number(home_number: Number) {
    studentsModule.setCurrentStudentHome(home_number)
  }

  get contact_details() {
    return studentsModule.currentStudent.contact_details || ''
  }

  set contact_details(contact_details: string) {
    studentsModule.setCurrentStudentContact(contact_details)
  }

  errors: String[] = []

  /**
   * Close the modal.
   */
  @Emit('closeRequest')
  close() {}

  /**
   * Handle student update.
   */
  async update() {
    const student: Student = {
      _id: studentsModule.currentStudent._id,
      name: this.name,
      surname: this.surname,
      age: this.age,
      home_number: this.home_number,
      street: this.street,
      city: this.city,
      contact_details: this.contact_details,
      tasks: studentsModule.currentStudent.tasks,
      created_at: studentsModule.currentStudent.created_at,
      updated_at: studentsModule.currentStudent.updated_at
    }

    try {
      await studentsModule.update(student)
      this.close()
    } catch (err) {
      this.errors.push(err)
    }
  }
}
</script>
