<template>
  <div class="main">
    <div class="background">
      <navigation></navigation>
      <div class="container">
        <nuxt />
      </div>
    </div>

    <foot></foot>
    <div id="copyrightBackground">
      <div id="copyrightContainer">
        Copyright © 2018 MOBI Katarzyna Harat. All rights reserved. Created by
        <a href="http://bielikowicz.me">Krzysztof Bielikowicz</a>
      </div>
    </div>
    <no-ssr>
      <cookie-law theme="base" button-text="Rozumiem!">
        <div slot="message">
          Ta strona używa ciasteczek (cookies), dzięki którym może działać
          lepiej.
          <a href="http://wszystkoociasteczkach.pl/">Dowiedz się więcej</a>
        </div>
      </cookie-law>
    </no-ssr>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import CookieLaw from 'vue-cookie-law'
import Navigation from '../components/Navigation.vue'
import Foot from '../components/Foot.vue'

@Component({ components: { CookieLaw, Navigation, Foot } })
export default class Layout extends Vue {}
</script>
