<template>
  <div class="admin box">
    <b-tabs type="is-boxed">
      <!-- The first tab -->
      <b-tab-item label="Uczniowie" icon-pack="fas" icon="users">
        <button
          class="button is-primary"
          style="background-color: #008F97;"
          @click="openAdd"
        >
          Dodaj ucznia
        </button>
        <hr />
        <div v-for="student in students" :key="student._id" class="box">
          <div v-if="typeof student !== 'undefined'" class="columns">
            <span class="column is-three-quarters">
              {{ student.name }} {{ student.surname }}
            </span>

            <a class="icon column has-text-danger" @click="del(student.id)">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </a>

            <a class="icon column has-text-info" @click="openTasks(student.id)">
              <i class="far fa-list-alt" aria-hidden="true"></i>
            </a>

            <a
              class="icon column has-text-warning"
              @click="openUpdate(student.id)"
            >
              <i class="fas fa-edit" aria-hidden="true"></i>
            </a>

            <a
              class="icon column has-text-success"
              @click="openShow(student.id)"
            >
              <i class="is-primary fas fa-eye" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </b-tab-item>

      <!-- The second tab -->
      <b-tab-item label="Kalendarz" icon-pack="fas" icon="calendar-alt">
        <div
          style="display:flex; flex-direction: row; justify-content: space-between;"
        >
          <button
            class="button is-primary"
            style="background-color: #008F97;"
            @click="openAddTask"
          >
            Dodaj zajęcia
          </button>
          <p>
            Ilość tygodni do wyświetlenia:
            <select v-model="displayPeriodCount">
              <option :value="1">1</option>
              <option :value="2">2</option>
              <option :value="3">3</option>
            </select>
          </p>
        </div>
        <hr />
        <calendar-view
          :events="studentsModule.allTasks()"
          :show-date="showDate"
          :time-format-options="{ hour: 'numeric', minute: '2-digit' }"
          :disable-past="disablePast"
          :disable-future="disableFuture"
          :show-event-times="showEventTimes"
          :display-period-uom="displayPeriodUom"
          :display-period-count="displayPeriodCount"
          :starting-day-of-week="startingDayOfWeek"
          :enable-drag-drop="true"
          class="holiday-us-traditional holiday-us-official"
          @drop-on-date="onDrop"
          @click-date="onClickDay"
          @click-event="onClickEvent"
          @show-date-change="setShowDate"
        />
      </b-tab-item>
    </b-tabs>

    <!-- Modals -->
    <Add :openmodal="addActive" @closeRequest="close"></Add>
    <Show :openmodal="showActive" @closeRequest="close"></Show>
    <Update :openmodal="updateActive" @closeRequest="close"></Update>
    <Tasks :openmodal="tasksActive" @closeRequest="close"></Tasks>
    <AddTask :openmodal="taskAddActive" @closeRequest="close"></AddTask>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { getModule } from 'vuex-module-decorators'
import { CalendarView, CalendarMathMixin } from 'vue-simple-calendar'
import StudentsModule from '../store/modules/students'

import Add from '../components/AddStudent.vue'
import Show from '../components/ShowStudent.vue'
import Update from '../components/UpdateStudent.vue'
import Tasks from '../components/ShowTasks.vue'
import AddTask from '../components/AddTask.vue'

const studentsModule = getModule(StudentsModule)

@Component({
  components: { CalendarView, Add, Show, Update, Tasks, AddTask },
  mixins: [CalendarMathMixin],
  middleware: 'auth'
})
export default class Admin extends Vue {
  /**
   * Called on page load (even serverside)
   */
  async fetch() {
    await this.fetchData()
  }

  loading = false
  errors: String[] = []

  // calendar
  showDate = new Date()
  message = 'Click a date or event...'
  alreadyAdded = false
  startingDayOfWeek = 1
  disablePast = false
  disableFuture = false
  displayPeriodUom = 'week'
  displayPeriodCount = 1
  showEventTimes = true

  // for modals
  addActive = ''
  showActive = ''
  updateActive = ''
  tasksActive = ''
  taskAddActive = ''

  get userLocale() {
    return (this as any).getDefaultBrowserLocale()
  }
  get dayNames() {
    return (this as any).getFormattedWeekdayNames(this.userLocale, 'long', 0)
  }

  /**
   * Updates data from server, handles errors.
   */
  async fetchData() {
    this.errors = []
    this.loading = true
    try {
      await studentsModule.fetch()
    } catch (err) {
      this.errors.push(err)
    } finally {
      this.loading = false
    }
  }

  /**
   * Handle deleting a student
   */
  async del(id) {
    if (confirm('Czy na pewno chcesz usunąć tego ucznia?')) {
      this.loading = !this.loading
      try {
        await studentsModule.delete(id)
      } catch (err) {
        this.errors.push(err.response.data.errors)
      }
    }
  }

  /**
   * Modals navigation.
   */
  openAddTask() {
    this.taskAddActive = 'is-active'
  }
  openAdd() {
    this.addActive = 'is-active'
  }
  openShow(key) {
    studentsModule.setCurrentStudent(key)
    this.showActive = 'is-active'
  }
  openUpdate(key) {
    studentsModule.setCurrentStudent(key)
    this.updateActive = 'is-active'
  }
  openTasks(key) {
    studentsModule.setCurrentStudent(key)
    this.tasksActive = 'is-active'
  }
  close() {
    this.addActive = this.showActive = this.updateActive = this.tasksActive = this.taskAddActive =
      ''
  }

  /**
   * Calendar helpers
   */
  thisMonth(d, h, m) {
    const t = new Date()
    return new Date(
      t.getFullYear(),
      t.getMonth(),
      d || t.getDay(),
      h || 0,
      m || 0
    )
  }
  setShowDate(d) {
    this.showDate = d
  }
  onClickDay(d) {
    this.message = `You clicked: ${d.toLocaleDateString()}`
  }
  onClickEvent(e) {
    this.message = `You clicked: ${e.title}`
  }
  onDrop(event, date) {
    this.message = `You dropped ${event.id} on ${date.toLocaleDateString()}`
  }
}
</script>
<style scoped>
.admin {
  margin-top: 4em;
  margin-bottom: 4em;
  min-height: 80rem;
}

i:hover {
  color: #363636;
}
p,
h1,
h2,
h3 {
  word-break: keep-all;
}
</style>
