<template>
  <div class="companies box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification">
              <p class="title">Dla firm</p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image">
              <v-lazy-image
                src="/img/firma.jpg"
                src-placeholder="/img/firma.jpg"
              />
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Oferujemy:</p>
            <div class="content">
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >indywidualne podejście oraz&nbsp;materiały dostosowane
                  do&nbsp;potrzeb kursantów,
                </li>
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >zajęcia indywidualne lub grupowe (do&nbsp;10&nbsp;osób),
                </li>
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >specjalistyczne kursy (<b>angielski branżowy</b>, np.
                  biznesowy, techniczny),
                </li>
                <li>
                  <span class="fa-li"
                    ><i class="fas fa-chevron-circle-right"></i></span
                  >zajęcia z dojazdem do firmy.
                </li>
              </ul>
              <br />
              <p class="title">Gwarantujemy:</p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check-square"></i></span
                  >profesjonalną i&nbsp;wykwalifikowaną kadrę
                  z&nbsp;doświadczeniem,
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check-square"></i></span
                  >elastyczne godziny (poranne/popołudniowe zajęcia -
                  dostosowane do potrzeb klienta).
                </li>
              </ul>
              <br />
              <p><b>Szczegóły współpracy ustalane indywidualnie.</b></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Companies extends Vue {}
</script>
<style scoped>
.companies {
  margin-top: 4em;
  margin-bottom: 4em;
}

ul {
  list-style: none;
}
p,
h1,
h2,
h3 {
  word-break: keep-all;
}
.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
