<template>
  <div class="home box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification vertical-center">
              <p class="title" style="text-align: center; font-size: 2.5rem;">
                Witamy<br />w&nbsp;szkole językowej MOBI!
              </p>
            </article>
          </div>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content" style="font-size: 1.25rem">
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-car"></i></span>
                  Język angielski z dojazdem do domu
                </li>

                <li>
                  <span class="fa-li"><i class="fas fa-cut"></i></span>
                  Kurs skrojony na miarę Twoich potrzeb
                </li>

                <li>
                  <span class="fa-li"><i class="fas fa-users"></i></span>
                  Dla małych i dużych - w przyjaznej atmosferze
                </li>

                <li>
                  <span class="fa-li"><i class="fas fa-smile"></i></span>
                  Dla tych, co chcą, i dla tych, co muszą
                </li>

                <li>
                  <span class="fa-li"><i class="fas fa-edit"></i></span>
                  Profesjonalnie i efektywnie
                </li>

                <li>
                  <span class="fa-li"><i class="fas fa-calendar-alt"></i></span>
                  Zapisy prowadzone cały rok - <b>zapraszamy!</b>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child vertical-center is-carousel">
          <carousel-3d
            :autoplay="true"
            :autoplay-timeout="5000"
            :count="5"
            :loop="true"
            :height="carouselHeight"
            :width="carouselWidth"
          >
            <slide :index="0">
              <v-lazy-image
                src="/img/carousel1.jpg"
                src-placeholder="/img/carousel1_small.jpg"
              />
              <div class="centered box">
                <router-link :to="{ name: 'youngest-courses' }"
                  ><p style="text-align: center">
                    <b>Zajęcia dla&nbsp;najmłodszych</b>
                  </p>
                </router-link>
              </div>
            </slide>
            <slide :index="1">
              <v-lazy-image
                src="/img/carousel2.jpg"
                src-placeholder="/img/carousel2_small.jpg"
              />
              <div class="centered box">
                <router-link :to="{ name: 'kids-courses' }"
                  ><p style="text-align: center">
                    <b>Zajęcia dla&nbsp;dzieci&nbsp;i&nbsp;młodzieży</b>
                  </p>
                </router-link>
              </div>
            </slide>
            <slide :index="2">
              <v-lazy-image
                src="/img/carousel3.jpg"
                src-placeholder="/img/carousel3_small.jpg"
              />
              <div class="centered box">
                <router-link :to="{ name: 'adult-courses' }"
                  ><p style="text-align: center">
                    <b>Zajęcia dla&nbsp;dorosłych</b>
                  </p>
                </router-link>
              </div>
            </slide>
            <slide :index="3">
              <v-lazy-image
                src="/img/carousel4.jpg"
                src-placeholder="/img/carousel4_small.jpg"
              />
              <div class="centered box">
                <router-link :to="{ name: 'skype' }"
                  ><p style="text-align: center">
                    <b>Zajęcia przez&nbsp;internet</b>
                  </p></router-link
                >
              </div>
            </slide>
            <slide :index="4">
              <v-lazy-image
                src="/img/carousel5.jpg"
                src-placeholder="/img/carousel5_small.jpg"
              />
              <div class="centered box">
                <router-link :to="{ name: 'for-companies' }"
                  ><p style="text-align: center">
                    <b>Oferta&nbsp;dla&nbsp;firm</b>
                  </p>
                </router-link>
              </div>
            </slide>
          </carousel-3d>
        </article>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Carousel3d, Slide } from 'vue-carousel-3d'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage, Carousel3d, Slide } })
export default class Index extends Vue {
  carouselHeight = 0
  carouselWidth = 0

  mounted() {
    // this.carouselHeight =
    //   17 * parseFloat(getComputedStyle(document.documentElement).fontSize!)
    // this.carouselWidth =
    //   26 * parseFloat(getComputedStyle(document.documentElement).fontSize!)
  }
}
</script>
<style scoped>
.home {
  margin-top: 4em;
  margin-bottom: 4em;
}

@font-face {
  font-family: Cinzel-Regular;
  src: url('../static/fonts/Cinzel-Regular.otf') format('opentype'),
    url('../static/fonts/Cinzel-Regular.ttf') format('truetype');
}

.title {
  font-family: Cinzel-Regular;
}

.fa-ul {
  font-family: 'Josefin Sans';
}

.vertical-center {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
}

.is-carousel {
  background-color: #f5f5f5;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.car-content {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0.8;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}

a {
  color: #3273dc;
}

.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
