<template>
  <div class="box">
    <div v-if="error" class="alert alert-danger">
      <p>There was an error, unable to sign in with those credentials.</p>
    </div>
    <form autocomplete="off" method="post" @submit.prevent="login">
      <div class="field">
        <div class="control">
          <label class="label" for="email">E-mail</label>
          <input
            id="email"
            v-model="email"
            type="email"
            class="input"
            placeholder="user@example.com"
            required
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label" for="password">Password</label>
          <input
            id="password"
            v-model="password"
            type="password"
            class="input"
            required
          />
        </div>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">
            Zaloguj
          </button>
        </p>
      </div>
    </form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class Login extends Vue {
  email = null
  password = null
  error = false

  /**
   * Handles user log in.
   */
  async login() {
    // @ts-ignore
    await this.$auth
      .loginWith('local', {
        data: {
          email: this.email,
          password: this.password
        }
      })
      .catch(this.$router.push({ path: '/' }))
  }
}
</script>
<style scoped>
.box {
  margin-top: 8em;
  background-color: white;
  border: 0.05rem solid #008f97;
}
p,
h1,
h2,
h3 {
  word-break: keep-all;
}
</style>
