<template>
  <div class="about box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical is-6">
            <article class="tile is-child notification">
              <span class="icon is-medium">
                <i class="far fa-comment fa-2x"></i>
              </span>
              <div
                class="content"
                style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem;"
              >
                <p>
                  MOBI to&nbsp;mobilna szkoła językowa, która działa
                  na&nbsp;rynku od&nbsp;początku 2018 roku. Właścicielka,
                  absolwentka filologii angielskiej na&nbsp;Uniwersytecie
                  Mikołaja Kopernika w&nbsp;Toruniu, posiada prawie
                  10&#8209;letnie doświadczenie w&nbsp;nauczaniu języka
                  angielskiego na&nbsp;różnych poziomach zaawansowania.
                </p>
              </div>
            </article>
            <article class="tile is-child notification">
              <div class="content">
                <figure class="image">
                  <v-lazy-image
                    src="/img/bridge.jpg"
                    src-placeholder="/img/bridge_small.jpg"
                  />
                </figure>
              </div>
            </article>
            <article class="tile is-child notification">
              <span class="icon is-medium">
                <i class="far fa-comment fa-2x"></i>
              </span>
              <div
                class="content"
                style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem;"
              >
                <p>
                  Szkoła językowa MOBI organizuje kursy z&nbsp;dojazdem
                  do&nbsp;domu lub&nbsp;firmy. To&nbsp;idealny sposób
                  na&nbsp;naukę języka w&nbsp;dogodnym miejscu i&nbsp;czasie.
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification vertical-center">
              <figure class="image">
                <img src="/img/test.png" />
              </figure>
            </article>
            <article class="tile is-child notification">
              <span class="icon is-medium">
                <i class="far fa-comment fa-2x"></i>
              </span>
              <div
                class="content"
                style="padding-left: 2rem; border-left:  0.125rem solid #e5e5e5; font-size: 1.1rem;"
              >
                <p>
                  Nasze kursy to&nbsp;najwyższa jakość nauczania,
                  w&nbsp;przystępnej cenie. Gwarantujemy indywidualne podejście
                  do&nbsp;każego klienta.
                  <br />
                  Oferujemy zajęcia dostosowane do&nbsp;potrzeb każdego uczącego
                  się - konwersacyjne, egzaminacyjne, biznesowe i&nbsp;inne,
                  także online.
                  <br />
                  Zapisy na&nbsp;zajęcia prowadzimy przez&nbsp;cały rok.
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-vertical is-3">
            <article class="tile is-child notification">
              <figure class="image">
                <v-lazy-image
                  src="/img/telephone.jpg"
                  src-placeholder="/img/telephone_small.jpg"
                />
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class About extends Vue {}
</script>
<style scoped>
.about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}
.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
