<template>
  <div class="comments box">
    <section class="section">
      <div v-if="loading" class="loading">
        <div class="icon is-large">
          <i class="fas fa-spinner fa-pulse fa-3x"></i>
        </div>
      </div>

      <ul>
        <paginate name="comms" :list="commentsModule.comments" :per="6">
          <li v-for="comment in paginated('comms')" :key="comment._id">
            <div
              v-if="typeof comment !== 'undefined'"
              class="comment box"
              style="margin-bottom: 3rem"
            >
              <article class="media">
                <figure class="media-left">
                  <div class="icon is-large">
                    <i class="fas fa-user fa-3x"></i>
                  </div>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ comment.author }}</strong>
                      <small
                        v-text="format(comment.created_at, 'YYYY.MM.DD')"
                      ></small>
                      <br />
                      {{ comment.body }}
                    </p>
                  </div>

                  <nav class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <star-rating
                          v-model.number="comment.rating"
                          :read-only="true"
                          :star-size="30"
                        />
                      </div>
                    </div>
                  </nav>
                </div>
                <div v-if="$auth.loggedIn()" class="media-right">
                  <button
                    class="delete"
                    aria-label="delete"
                    @click="deleteComment(comment.id)"
                  ></button>
                </div>
              </article>
            </div>
          </li>
        </paginate>
      </ul>

      <paginate-links
        for="comms"
        :async="true"
        :hide-single-page="true"
      ></paginate-links>
    </section>

    <section class="section">
      <div class="columns">
        <div class="box column is-half comment-input">
          <form autocomplete="off" method="post" @submit.prevent="addComment">
            <div class="field">
              <label class="label">Autor</label>
              <div class="control">
                <input
                  v-model="authorInput"
                  class="input"
                  type="text"
                  placeholder=""
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Ocena</label>
              <div class="control">
                <star-rating v-model="ratingInput" :star-size="30" />
              </div>
            </div>

            <div class="field">
              <label class="label">Opinia</label>
              <div class="control">
                <textarea
                  v-model.trim="bodyInput"
                  class="textarea"
                  placeholder="Treść opinii..."
                  style="resize: none"
                  maxlength="2000"
                ></textarea>
              </div>
            </div>

            <vue-recaptcha
              ref="recaptcha"
              size="invisible"
              sitekey="6Lcpsk8UAAAAAKioHqtOqm4aS5wFv5RAw7pcnICf"
              @verify="onCaptchaVerified"
              @expired="onCaptchaExpired"
            ></vue-recaptcha>

            <div class="control">
              <button
                :disabled="status === 'submitting'"
                class="button is-primary"
              >
                Wyślij
              </button>
            </div>
          </form>
        </div>
        <div class="column is-half vertical-center">
          <figure class="image">
            <img src="img/logo-nazwa.png" />
          </figure>
        </div>
      </div>
    </section>
  </div>
</template>
<script lang="ts">
import StarRating from 'vue-star-rating'
import { Vue, Component } from 'nuxt-property-decorator'
import VueRecaptcha from 'vue-recaptcha'
import { getModule } from 'vuex-module-decorators'
import { format } from 'date-fns'
import CommentsModule from '../store/modules/comments'

const commentsModule = getModule(CommentsModule)

@Component({ components: { StarRating, VueRecaptcha } })
export default class Comments extends Vue {
  format: Function = format
  /**
   * Called on page load (even serverside)
   */
  async fetch() {
    await this.fetchData()
  }

  status = ''
  serverError = ''
  loading = false
  errors: String[] = []
  authorInput = ''
  ratingInput = 0
  bodyInput = ''
  paginate = ['comms']

  /**
   * Update data from server.
   */
  async fetchData() {
    this.errors = []
    this.loading = true

    try {
      await commentsModule.fetch()
    } catch (err) {
      this.errors.push(this.getErrorMessage(err))
    } finally {
      this.loading = false
    }
  }

  /**
   * Handles add comment button press - triggers captcha.
   */
  addComment() {
    ;(this.$refs.recaptcha as any).execute()
  }

  /**
   * Parse error message.
   */
  getErrorMessage(err) {
    let responseBody
    responseBody = err.response
    if (!responseBody) {
      responseBody = err
    } else {
      responseBody = err.response.data || responseBody
    }
    return responseBody.message || JSON.stringify(responseBody)
  }

  /**
   * Handles successfully verified captcha.
   */
  async onCaptchaVerified(recaptchaToken) {
    this.status = 'submitting'
    ;(this.$refs.recaptcha as any).reset()

    try {
      const response = await commentsModule.store({
        token: recaptchaToken,
        authorInput: this.authorInput,
        ratingInput: this.ratingInput,
        bodyInput: this.bodyInput
      })

      if (response.data.success === true) {
        alert('Komentarz został dodany!')
      }
      this.status = ''
    } catch (err) {
      this.serverError = this.getErrorMessage(err)
    }
  }

  /**
   * Handles captcha expiration.
   */
  onCaptchaExpired() {
    ;(this.$refs.recaptcha as any).reset()
  }

  /**
   * Handles admin delete button press.
   */
  async deleteComment(cmt) {
    if (confirm('Czy na pewno chcesz usunąć ten komentarz?')) {
      try {
        await commentsModule.delete(cmt)
      } catch (err) {
        this.errors.push(this.getErrorMessage(err))
      }
    }
  }
}
</script>

<style scoped>
.comments {
  margin-top: 4em;
  margin-bottom: 4em;
}

.comment,
.comment-input {
  background-color: #f5f5f5;
}

.media-left {
  margin-right: 2em;
}

.columns {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
}

.vertical-center {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
}

.button.is-primary {
  background-color: #008f97;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}
</style>
