<template>
  <div class="cooperation box">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification vertical-center">
              <p class="title">Współpraca</p>
            </article>
          </div>
        </div>

        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <div class="content">
                <p>
                  Jesteś zainteresowany pracą w mobilnej szkole językowej?
                </p>

                <p class="subtitle">Dołącz do nas, jeśli:</p>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-chevron-circle-right"></i></span
                    >jesteś studentem/absolwentem filologii angielskiej
                    lub&nbsp;masz certyfikat na&nbsp;zaawansowanym poziomie,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-chevron-circle-right"></i></span
                    >lubisz pracę z&nbsp;ludźmi,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-chevron-circle-right"></i></span
                    >jesteś kreatywny, otwarty na&nbsp;nowe doświadczenia,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-chevron-circle-right"></i></span
                    >posiadasz własny środek transportu.
                  </li>
                </ul>

                <p class="subtitle">Zapewniamy:</p>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >elastyczny grafik pracy,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >współpracę na&nbsp;dogodnych warunkach,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >zajęcia z&nbsp;kursantami o&nbsp;różnym poziomie
                    zaawansowania i&nbsp;w&nbsp;różnym wieku,
                  </li>
                  <li>
                    <span class="fa-li"
                      ><i class="fas fa-check-square"></i></span
                    >sympatyczną atmosferę.
                  </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="tile is-vertical is-8">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image">
              <v-lazy-image
                src="/img/cooperation.jpg"
                src-placeholder="/img/cooperation_small.jpg"
              />
            </figure>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification">
            <p class="content">
              <b>Osoby zainteresowane proszone są o przysyłanie CV</b> wraz
              z&nbsp;dopiskiem
              <i
                >"Zgodnie z art.6 ust.1 lit. a ogólnego rozporządzenia o
                ochronie danych osobowych z dnia 27 kwietnia 2016 r. (Dz. Urz.
                UE L 119 z 04.05.2016) wyrażam zgodę na przetwarzanie moich
                danych osobowych dla potrzeb aktualnej i przyszłych
                rekrutacji."</i
              >.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import VLazyImage from 'v-lazy-image'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { VLazyImage } })
export default class Cooperation extends Vue {}
</script>
<style scoped>
.cooperation {
  margin-top: 4em;
  margin-bottom: 4em;
}

.vertical-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  word-break: keep-all;
}

.v-lazy-image {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: unblur 1s linear forwards;
  -moz-animation: unblur 1s linear forwards;
  -ms-animation: unblur 1s linear forwards;
  -o-animation: unblur 1s linear forwards;
  animation: unblur 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes unblur {
  to {
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes unblur {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}
</style>
